@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap");

html,
body {
  height: 100%;
  width: 100%;
  font-family: "Poppins", sans-serif;
  color: #222;
}
.navbar-brand img {
  max-width: 70px;
  width: 100%;
  height: auto;
}
.navbar-nav {
  padding: 0.8rem;
}
.navbar-nav li {
  padding-right: 20px;
}
.nav-link {
  font-size: 1.1em !important;
}

.carousel-item img {
  width: 100%;
  object-fit: cover;
  height: 70vh;
}
.iconpadding i {
  display: inline-block;
  padding-left: 20px;
}
.carousel-caption {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
.carousel-caption h1 {
  font-size: 80px;
  text-transform: uppercase;
  text-shadow: 1px 1px 10px #000;
  padding-bottom: 1rem;
}
.carousel-caption h3 {
  font-size: 22px;
  font-weight: bold;
  padding-bottom: 1rem;
  text-shadow: 1px 1px 8px #000;
}
.jumbotron {
  padding: 1rem !important;
  border-radius: 0;
}
.padding {
  padding-bottom: 2rem;
}
/* .welcome {
  width: 75%;
} */
.welcome hr {
  border-top: 2px solid #b4b4b4;
  width: 20%;
  margin-bottom: 1.3rem;
}
footer {
  background-color: #3f3f3f;
  color: #d5d5d5;
  padding-top: 2rem;
}
hr.light {
  border-top: 1px solid #d5d5d5;
  width: 75%;
  margin-top: 0.8rem;
  margin-bottom: 1rem;
}
.card-img-top {
  height: 200px;
}
.card-body {
  height: 280px;
}
.card-portion {
  padding-left: 115px;
}
